body {
    background-color: beige;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
border: #000000 20px;
}

.name {
    color: #000000;
    font-size: 30px;
}

#details {
    color: rgb(118, 2, 201);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
h2 {
    background-color: aquamarine;
    color: rgb(149, 7, 0);
    font-size: 39px;
font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 30px;
    border: 20px , 
    
}

.other {
    color: rgb(45, 105, 107);
    background-color: rgb(220, 245, 208);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
}